body { 
	margin: 0; 
	background-color: black;
}

#computer {
	margin: 0;
	position: relative;
	width: 100%;
	height: 661.8px;
	z-index: -4;
}

#computerLogo {
	position: absolute;
	font-size: 24px;
	bottom: 3%;
	word-spacing: 100px;
	left: 42%;
	z-index: 0;
	font-family: 'Spirax', cursive;
	font-weight: bolder;
}

/* Computer screen set to display none so it is invisble until power button is clicked */
#computerScreen {
	background-color: black;
	width: 1192.6px;
	height: 527.6px;
	position: absolute;

	bottom:17.6%;
	left: 3.1%;
}

#textBox {
	position: absolute;
	opacity: .9;
	width: 1193.6px;
	height: 200px;
	background: linear-gradient(bottom, rgba(0,0,0,.8), rgba(98,0,0,.7), rgba(0,0,0,.8));
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,.8), rgba(98,0,0,.7), rgba(0,0,0,.8)); 
	z-index: 1;
	top: 62.1%;
	color: white;
}

/* All game assets are set to display none until an onclick event happens */
#text{
	position: absolute;
	width: auto;
	height: auto; 
	z-index: 1;
	color: #FFE6E6;
	opacity: 1;
	font-family:'Press Start 2P', cursive;
	line-height: 150%;
	font-size: 20px;
}

.altText {
	position: absolute;
	width: auto;
	height: auto; 
	z-index: 0;
	color: #FFE6E6;
	opacity: 1;
	font-family:'Press Start 2P', cursive;
	line-height: 150%;
	font-size: 20px;
	display: none;
}

.altText2 {
	position: absolute;
	width: auto;
	height: auto; 
	z-index: 0;
	color: #FFE6E6;
	opacity: 1;
	font-family:'Press Start 2P', cursive;
	line-height: 150%;
	font-size: 20px;
	display: none;
}

.altText3 {
	position: absolute;
	width: auto;
	height: auto; 
	z-index: 0;
	color: #FFE6E6;
	opacity: 1;
	font-family:'Press Start 2P', cursive;
	line-height: 150%;
	font-size: 20px;
	display: none;
}

.altText4 {
	position: absolute;
	width: auto;
	height: auto; 
	z-index: 0;
	color: #FFE6E6;
	opacity: 1;
	font-family:'Press Start 2P', cursive;
	line-height: 150%;
	font-size: 20px;
	display: none;
}

.altText5 {
	position: absolute;
	width: auto;
	height: auto; 
	z-index: 0;
	color: #FFE6E6;
	opacity: 1;
	font-family:'Press Start 2P', cursive;
	line-height: 150%;
	font-size: 20px;
	display: none;
}

.altText6 {
	position: absolute;
	width: auto;
	height: auto; 
	z-index: 0;
	color: #FFE6E6;
	opacity: 1;
	font-family:'Press Start 2P', cursive;
	line-height: 150%;
	font-size: 20px;
	display: none;
}

.altText7 {
	position: absolute;
	width: auto;
	height: auto; 
	z-index: 0;
	color: #FFE6E6;
	opacity: 1;
	font-family:'Press Start 2P', cursive;
	line-height: 150%;
	font-size: 20px;
	display: none;
}

.altText8 {
	position: absolute;
	width: auto;
	height: auto; 
	z-index: 0;
	color: #FFE6E6;
	opacity: 1;
	font-family:'Press Start 2P', cursive;
	line-height: 150%;
	font-size: 20px;
	display: none;
}

.altText9 {
	position: absolute;
	width: auto;
	height: auto; 
	z-index: 0;
	color: #FFE6E6;
	opacity: 1;
	font-family:'Press Start 2P', cursive;
	line-height: 150%;
	font-size: 80px;
	text-align: center;
	display: none;
}

.altText10 {
	position: absolute;
	width: auto;
	height: auto; 
	z-index: 0;
	color: #FFE6E6;
	opacity: 1;
	font-family:'Press Start 2P', cursive;
	line-height: 150%;
	font-size: 20px;
	display: none;
}

.altText11 {
	position: absolute;
	width: auto;
	height: auto; 
	z-index: 0;
	color: #FFE6E6;
	opacity: 1;
	font-family:'Press Start 2P', cursive;
	line-height: 150%;
	font-size: 80px;
	text-align: center;
	display: none;
}

.altText12 {
	position: absolute;
	width: auto;
	height: auto; 
	z-index: 0;
	color: #FFE6E6;
	opacity: 1;
	font-family:'Press Start 2P', cursive;
	line-height: 150%;
	font-size: 20px;
	display: none;
}

.altText13 {
	position: absolute;
	width: auto;
	height: auto; 
	z-index: 0;
	color: #FFE6E6;
	opacity: 1;
	font-family:'Press Start 2P', cursive;
	line-height: 150%;
	font-size: 20px;
	display: none;
}

.altText14 {
	position: absolute;
	width: auto;
	height: auto; 
	z-index: 0;
	color: #FFE6E6;
	opacity: 1;
	font-family:'Press Start 2P', cursive;
	line-height: 150%;
	font-size: 20px;
	display: none;
}

.next {
	position: absolute;
	top: 90%;
	right: 0;
	background-color: #5D4B5C;
    border: 5% black;
    border-radius: 7px;
    color: #EEDAEC;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    text-decoration: none;
  	padding: 2px 44px 2px 44px;
    font-size: 18px;
 	font-family: 'BioRhyme', serif;
  	font-weight: bolder;
  	box-shadow: 3px 3px 2px black;
  	border: none;
  	z-index: 0;
}

.next2 {
	position: absolute;
	top: 90%;
	right: 0;
	background-color: #5D4B5C;
    border: 5% black;
    border-radius: 7px;
    color: #EEDAEC;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    text-decoration: none;
  	padding: 2px 44px 2px 44px;
    font-size: 18px;
 	font-family: 'BioRhyme', serif;
  	font-weight: bolder;
  	box-shadow: 3px 3px 2px black;
  	border: none;
  	z-index: 0;
}

.next3 {
	position: absolute;
	top: 90%;
	right: 0;
	background-color: #5D4B5C;
    border: 5% black;
    border-radius: 7px;
    color: #EEDAEC;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    text-decoration: none;
  	padding: 2px 44px 2px 44px;
    font-size: 18px;
 	font-family: 'BioRhyme', serif;
  	font-weight: bolder;
  	box-shadow: 3px 3px 2px black;
  	border: none;
  	z-index: 0;
}

.next4 {
	position: absolute;
	top: 90%;
	right: 0;
	background-color: #5D4B5C;
    border: 5% black;
    border-radius: 7px;
    color: #EEDAEC;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    text-decoration: none;
  	padding: 2px 44px 2px 44px;
    font-size: 18px;
 	font-family: 'BioRhyme', serif;
  	font-weight: bolder;
  	box-shadow: 3px 3px 2px black;
  	border: none;
  	z-index: 0;
}

.next5 {
	position: absolute;
	top: 90%;
	right: 0;
	background-color: #5D4B5C;
    border: 5% black;
    border-radius: 7px;
    color: #EEDAEC;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    text-decoration: none;
  	padding: 2px 44px 2px 44px;
    font-size: 18px;
 	font-family: 'BioRhyme', serif;
  	font-weight: bolder;
  	box-shadow: 3px 3px 2px black;
  	border: none;
  	z-index: 0;
}

.next6 {
	position: absolute;
	top: 90%;
	right: 0;
	background-color: #5D4B5C;
    border: 5% black;
    border-radius: 7px;
    color: #EEDAEC;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    text-decoration: none;
  	padding: 2px 44px 2px 44px;
    font-size: 18px;
 	font-family: 'BioRhyme', serif;
  	font-weight: bolder;
  	box-shadow: 3px 3px 2px black;
  	border: none;
  	z-index: 0;
}

.next7 {
	position: absolute;
	top: 90%;
	right: 0;
	background-color: #5D4B5C;
    border: 5% black;
    border-radius: 7px;
    color: #EEDAEC;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    text-decoration: none;
  	padding: 2px 44px 2px 44px;
    font-size: 18px;
 	font-family: 'BioRhyme', serif;
  	font-weight: bolder;
  	box-shadow: 3px 3px 2px black;
  	border: none;
  	z-index: 0;
}

.next8 {
	position: absolute;
	top: 90%;
	right: 0;
	background-color: #5D4B5C;
    border: 5% black;
    border-radius: 7px;
    color: #EEDAEC;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    text-decoration: none;
  	padding: 2px 44px 2px 44px;
    font-size: 18px;
 	font-family: 'BioRhyme', serif;
  	font-weight: bolder;
  	box-shadow: 3px 3px 2px black;
  	border: none;
  	z-index: 0;
}

.next9 {
	position: absolute;
	top: 90%;
	right: 0;
	background-color: #5D4B5C;
    border: 5% black;
    border-radius: 7px;
    color: #EEDAEC;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    text-decoration: none;
  	padding: 2px 44px 2px 44px;
    font-size: 18px;
 	font-family: 'BioRhyme', serif;
  	font-weight: bolder;
  	box-shadow: 3px 3px 2px black;
  	border: none;
  	z-index: 0;
}

.resets {
	position: absolute;
	top: 90%;
	right: 0;
	background-color: #5D4B5C;
    border: 5% black;
    border-radius: 7px;
    color: #EEDAEC;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    text-decoration: none;
  	padding: 2px 44px 2px 44px;
    font-size: 18px;
 	font-family: 'BioRhyme', serif;
  	font-weight: bolder;
  	box-shadow: 3px 3px 2px black;
  	border: none;
  	z-index: 0;
}

#choice1 {
	position: absolute;
	top: 108%;
	left: 0;
	background-color: #5D4B5C;
    border: 5% black;
    border-radius: 7px;
    color: #EEDAEC;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    text-decoration: none;
  	padding: 2px 44px 2px 44px;
    font-size: 18px;
 	font-family: 'BioRhyme', serif;
  	font-weight: bolder;
  	box-shadow: 3px 3px 2px black;
  	border: none;
  	z-index: 0;
}

#choice2 {
	position: absolute;
	top: 108%;
	right: 0;
	background-color: #5D4B5C;
    border: 5% black;
    border-radius: 7px;
    color: #EEDAEC;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    text-decoration: none;
  	padding: 2px 44px 2px 44px;
    font-size: 18px;
 	font-family: 'BioRhyme', serif;
  	font-weight: bolder;
  	box-shadow: 3px 3px 2px black;
  	border: none;
  	z-index: 0;
}

#choice3 {
	position: absolute;
	top: 108%;
	left: 0;
	background-color: #5D4B5C;
    border: 5% black;
    border-radius: 7px;
    color: #EEDAEC;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    text-decoration: none;
  	padding: 2px 44px 2px 44px;
    font-size: 18px;
 	font-family: 'BioRhyme', serif;
  	font-weight: bolder;
  	box-shadow: 3px 3px 2px black;
  	border: none;
  	z-index: 0;
}

#choice4 {
	position: absolute;
	top: 108%;
	right: 0;
	background-color: #5D4B5C;
    border: 5% black;
    border-radius: 7px;
    color: #EEDAEC;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    text-decoration: none;
  	padding: 2px 44px 2px 44px;
    font-size: 18px;
 	font-family: 'BioRhyme', serif;
  	font-weight: bolder;
  	box-shadow: 3px 3px 2px black;
  	border: none;
  	z-index: 0;
}

#choice5 {
	position: absolute;
	top: 108%;
	left: 0;
	background-color: #5D4B5C;
    border: 5% black;
    border-radius: 7px;
    color: #EEDAEC;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    text-decoration: none;
  	padding: 2px 44px 2px 44px;
    font-size: 18px;
 	font-family: 'BioRhyme', serif;
  	font-weight: bolder;
  	box-shadow: 3px 3px 2px black;
  	border: none;
  	z-index: 0;
}

#choice6 {
	position: absolute;
	top: 108%;
	right: 0;
	background-color: #5D4B5C;
    border: 5% black;
    border-radius: 7px;
    color: #EEDAEC;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    text-decoration: none;
  	padding: 2px 44px 2px 44px;
    font-size: 18px;
 	font-family: 'BioRhyme', serif;
  	font-weight: bolder;
  	box-shadow: 3px 3px 2px black;
  	border: none;
  	z-index: 0;
}
/* Computer, power and instructions buttons are only
 game assets that are always displayed on screen */
#powerUp {
	position: absolute;
	bottom: 2%;
	background-color: #5D4B5C;
    border: 5% black;
    border-radius: 7px;
    color: #EEDAEC;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    text-decoration: none;
  	padding: 2px 44px 2px 44px;
    font-size: 28px;
 	font-family: 'BioRhyme', serif;
  	font-weight: bolder;
  	box-shadow: 3px 3px 2px black;
  	border: none;
  	z-index: 0;
}

#helpMenu {
	position: absolute;
	bottom: 2%; 
	left: 70%;
	background-color: #5D4B5C;
    border: 5% black;
    border-radius: 7px;
    color: #EEDAEC;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    text-decoration: none;
  	padding: 2px 44px 2px 44px;
    font-size: 28px;
 	font-family: 'BioRhyme', serif;
  	font-weight: bolder;
  	box-shadow: 3px 3px 2px black;
  	z-index: 0;
}

/*Makes the modal visable upon clicking the button*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;

}
.overlay:target {
  visibility: visible;
  opacity: 1;
  z-index: 40;
}
/*Stylings for the istruction modal popup*/
.popup {
  left: 20px;
  margin: 10px auto;
  background: #EEEAE9;
  background-image: url('Images/static.gif');
  border-radius: 2px;
  width: 94%;
  position: absolute;
  font-family: 'BioRhyme', serif;
  font-size: 34px;
  color: white;
  z-index: 40;
  border: 7px solid grey;
  text-align: center;
  padding-bottom: 1%;
}

/*Close button for modal*/
.popup .close {
  position: absolute;
  font-size: 84px;
  top: 4px;
  right: 24px;
  opacity: .7;
  color: red;
  text-decoration: none;
}

.image1 {
	position: absolute;
	left: 0%;
	top: 0%;
	width: 1193px;
	height: 528px;
	z-index: 0;
	display: none;
}

.image2 {
	position: absolute;
	left: 0%;
	top: 0%;
	width: 1193px;
	height: 528px;
	z-index: 0;
	display: none;
}

.image3 {
	position: absolute;
	left: 0%;
	top: 0%;
	width: 1193px;
	height: 528px;
	z-index: 0;
}

.image4 {
	position: absolute;
	left: 0%;
	top: 0%;
	width: 1193px;
	height: 528px;
	z-index: 0;
	display: none;
}

.image5 {
	position: absolute;
	left: 0%;
	top: 0%;
	width: 1193px;
	height: 528px;
	z-index: 0;
	display: none;
}

.image6 {
	position: absolute;
	left: 0%;
	top: 0%;
	width: 1193px;
	height: 528px;
	z-index: 0;
	display: none;
}

.image7 {
	position: absolute;
	left: 0%;
	top: 0%;
	width: 1193px;
	height: 528px;
	z-index: 0;
	display: none;
}

.image8 {
	position: absolute;
	left: 0%;
	top: 0%;
	width: 1193px;
	height: 528px;
	z-index: 0;
	display: none;
}

.image9 {
	position: absolute;
	left: 0%;
	top: 0%;
	width: 1193px;
	height: 528px;
	z-index: 0;
	display: none;
}

.image10 {
	position: absolute;
	left: 0%;
	top: 0%;
	width: 1193px;
	height: 528px;
	z-index: 0;
	display: none;
}

.image11 {
	position: absolute;
	left: 0%;
	top: 0%;
	width: 1193px;
	height: 528px;
	z-index: 0;
	display: none;
}

.image12 {
	position: absolute;
	left: 0%;
	top: 0%;
	width: 1193px;
	height: 528px;
	z-index: 0;
	display: none;
}

.image13 {
	position: absolute;
	left: 0%;
	top: 0%;
	width: 1193px;
	height: 528px;
	z-index: 0;
	display: none;
}

.image14 {
	position: absolute;
	left: 0%;
	top: 0%;
	width: 1193px;
	height: 528px;
	z-index: 0;
	display: none;
}

.image15 {
	position: absolute;
	left: 0%;
	top: 0%;
	width: 1193px;
	height: 528px;
	z-index: 0;
	display: none;
}

.image16 {
	position: absolute;
	left: 0%;
	top: 0%;
	width: 1193px;
	height: 528px;
	z-index: 0;
	display: none;
}

@media (min-width:320px)  {  }
@media (min-width:481px)  {  }
@media (min-width:641px)  {  }
@media (min-width:961px)  {  }
@media (min-width:1025px) {  }
@media (min-width:1281px) {  }